### how to handle text data in machine learning
    Text data( catogorical variables ) can be classified into two:
    A.Nominal Variable - eg: (male, female), (red, green, blue)
        in which each variable is neither superior nor inferior
        techique - One Hot Encoding and Dummy variables
    B.Ordinal Variable - eg: (high , low, medium ), (first, secound, last)
        in which variables are either superior or inferior to each other
        technique - Integer Encoding or Label encoding

### Dummy Variables using pandas

In [23]:
import pandas as pdfrom 
from sklearn.linear_model import LinearRegression

In [24]:
df = pd.read_csv('homeprices.csv')
dummies = pd.get_dummies(df['town']) #since town is the catogorical column
merged = pd.concat([df,dummies],axis='columns')
final = merged.drop(['town'], axis='columns')
final = final.drop(['west windsor'], axis='columns') #taking care of dummy variable trap
final

    area   price  monroe township  robinsville
0   2600  550000                1            0
1   3000  565000                1            0
2   3200  610000                1            0
3   3600  680000                1            0
4   4000  725000                1            0
5   2600  585000                0            0
6   2800  615000                0            0
7   3300  650000                0            0
8   3600  710000                0            0
9   2600  575000                0            1
10  2900  600000                0            1
11  3100  620000                0            1
12  3600  695000                0            1

x = final.drop(['price'],axis='columns')
y = final['price']
reg = LinearRegression()
reg.fit(x,y)

In [59]:
reg.predict([[3400,0,0]])

array([681241.66845839])

In [28]:
reg.score(x,y)

0.9573929037221873

### One Hot Encoding using sklearn

In [39]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
le = LabelEncoder()

In [56]:
df2 = df.copy()
#changes each distinct value into different integer
df2['town'] = le.fit_transform(df2['town'])

x = df2[['town','area']].values
y = df2['price']

## Now use one hot encoder to create dummy variables for each of the town
ct = ColumnTransformer([('town', OneHotEncoder(), [0])], remainder = 'passthrough')
x = ct.fit_transform(x)
x = x[:,1:]

reg2 = LinearRegression()
reg2.fit(x,y)

LinearRegression()

In [60]:
reg2.predict([[0,1,3400]])

array([681241.6684584])

In [61]:
reg2.score(x,y)

0.9573929037221874